POSTGRES_DB=webgis
POSTGRES_USER=webgis_user
POSTGRES_PASSWORD=webgis_password
SECRET_KEY=change-this-to-a-random-256-bit-secret
FIRST_ADMIN_USERNAME=admin
FIRST_ADMIN_EMAIL=admin@webgis.local
FIRST_ADMIN_PASSWORD=admin123
